<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <URL>https://klm.com</URL>

  <germany>Germany</germany>
  <norway>Norway</norway>
  <uk>United Kingdom</uk>

  <FlightBooking>

    <firstName>Joe</firstName>
    <lastName>Schmoe</lastName>
    <address>123 Main St</address>
    <city>Hometown</city>
    <state>NC</state>
    <postalCode>12345</postalCode>
    <country>US</country>
    <phoneNumber>555-555-5555</phoneNumber>
    <emailAddress>contact@tiernok.com</emailAddress>
  </FlightBooking>
</configuration>